/*
 * css to modify bootstrap settings and add my own details
*/
body {
  background-image: url("../images/white_sand.png");
  background-repeat: repeat;
  background-color: #ffffff;
}

.main-section {
  margin-bottom: 70px;
}

.my-bg-primary {
  background-color: #4aaaa5;
  color: #ffffff;
}

.my-bg-reverse {
  background-color: #ffffff;
  color: #4aaaa5;
}

.my-text-primary {
  color: #777777;
}

.my-border-top {
  border-top: 8px solid #4aaaa5;
}

.my-border-bottom-2 {
  border-bottom: 2px solid;
}

.my-border-secondary {
  border-color: #dddddd;
}

.btn-primary {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
}

.my-p-img {
  height: 200px !important;
  width: 400px !important;
}

/* Contact form css */
input[type=text] {
  padding:10px; 
  margin-bottom: 10px;
  border:1px solid #ccc;
  width: 100%;
}

textarea{
  padding:10px; 
  margin-bottom: 10px;
  border:1px solid #ccc;
  width: 100%;
}

input[type=submit] {
  padding:5px 15px; 
  background:#4aaaa5; 
  color: #ffffff;
  border:0 none;
  cursor:pointer;
}

#submit {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* media query for 640px screen or smaller */
@media screen and (max-width: 640px) {
  .my-sm-image-wrapper {
      width: 100%;
  }
  
  .card {
      width: 100%;
      height: auto;
  }

  .card-img {
      width: 100%;
      height: auto;
  }

  .my-bg-primary-sm {
      background-color: #4aaaa5;
      color: #ffffff;
  }

  .my-bg-secondary-sm {
      background-color: #ffffff;
      color: black;
      width: 100%;
      align-content: center;
      justify-items: center;
      justify-content: center;
  }

  .my-flex-sm-column {
      flex-direction: column !important;
  }

  .my-navbar-sm {
      margin: 0;
      padding: 0;
  }

  .container {
      max-width: 640px;
  }
}

/* Limit max width of container to match instructions */
@media screen and (min-width: 1200px) {
  .container {
      max-width: 960px;
  }
}